.prose table {
  display: block;
  width: max-content;
  overflow-x: auto;
}

.prose table th,
.prose table td {
  border-bottom: 1px solid #cccc; /* Use a hex color or any valid CSS color */
  padding: 0.5rem;
  color: #6b7280;
}

.prose table td:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 120px;
}

.prose table th {
  background-color: #f3f4f6; /* Example muted color */
  color: #000000;
}
